#navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    width: 350px;
    height: 100vh;

    .navbar-container {
        .logo-content {
            display: flex;
            justify-content: center;
            margin: 0 0 30px 0;
        }

        .navbar-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            .navbar-item {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                padding: 20px;
                transition: .3s all;

                &.navbar-active, &:hover {
                    background-color: #fff;
                    box-shadow: 0px 6px 6px -1px #00000009;
                    border-radius: 10px;
                    cursor: pointer;

                    .navbar-item-icon {
                        stroke: #303030;
                    }

                    a {
                        color: #303030;
                    }
                }

                .navbar-item-icon {
                    width: 28px;
                    fill: none;
                    stroke: #00000093;
                    stroke-width: 2px;
                }

                a {
                    font-size: 19px;
                    font-weight: 500;
                    color: #00000093;
                }
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    #navbar {
        overflow: auto;

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-color: transparent;
            border-radius: 1em;
        }
    
        &:hover {
    
            &::-webkit-scrollbar-thumb {
                background-color: #c7c5c5;
                border-color: #fdfdfd;
                border-radius: 100px;
            }
        }
    }
}