#popular {
    .popular-container {
        .popular-title {
            margin: 0 0 20px 0;

            .popular-title-text {
                color: #303030;
                font-size: 29px;
                font-weight: 500;

                b {
                    font-weight: 800;
                }
            }
        }

        .popular-albums {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .popular-albums-item {
                position: relative;
                transition: .3s all;

                &:hover {
                    transform: translateY(-5px);
                    cursor: pointer;
                }

                .popular-albums-cover-image {
                    border-radius: 26px;
                }
                
                .popular-albums-artist {
                    position: absolute;
                    left: 15px;
                    bottom: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-color: #fff;
                    border-radius: 100px;
                    padding: 10px;

                    .popular-albums-artist-avatar-image {
                        border-radius: 50%;
                    }

                    .popular-albums-artist-full-name {
                        color: #303030;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}